---
import "@fontsource/inter";
import "../global.css";
import VerticalSideHeader from "@components/VerticalSideHeader.astro";
import MainContent from "@components/MainContent.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Efua's Portfolio</title>
  </head>
  <body>
    <div class="grid grid-cols-1 lg:grid-cols-2 p-10 h-screen">
      <VerticalSideHeader />
      <MainContent />
    </div>
    <slot />
  </body>
</html>
