<article>
  <p class="font-medium text-[#e2e8f0] py-10 lg:pb-8 lg:py-0">ABOUT ME</p>
  <p>
    Software Engineer with 3 years of professional experience specializing in
    React and its ecosystem. Passionate about using technology to create
    innovative solutions that make a meaningful impact. Proficient in building
    responsive user interfaces and integrating APIs for seamless user
    experiences. Experienced across diverse sectors, bringing adaptability and
    creativity to every project. Committed to leveraging technology as a force
    for positive change and delivering user-focused digital solutions.
  </p>
</article>
