---
import { Icon } from "astro-icon/components";
import Badge from "./utils/Badge.astro";
import { experienceData } from "@components/utils/experienceDetails.ts";
---

<section>
  <p class="font-medium text-[#e2e8f0] mb-4">EXPERIENCE / PROJECTS</p>
  <div>
    {
      experienceData.map((details) => (
        <a href={"/portfolio/projects/" + details.id}>
          <div class="grid group grid-cols-1 gap-y-2 lg:gap-y-0 lg:grid-cols-3 my-8 hover:cursor-pointer lg:hover:bg-slate-800/50 lg:hover:drop-shadow-lg p-3 rounded-lg lg:hover:transition lg:hover:ease-in-out lg:hover:delay-75">
            <p class="uppercase text-xs font-semibold col-span-1">
              {details.duration}
            </p>
            <div class="space-y-3 col-span-2">
              <div class="flex gap-x-1 items-center">
                <h3 class="lg:group-hover:text-teal-300 text-teal-300 lg:text-slate-400 font-bold rounded-lg lg:group-hover:transition lg:group-hover:ease-in-out lg:group-hover:delay-75">
                  {details.name}
                </h3>
                <Icon
                  name="mdi:arrow-top-right-thin"
                  class={
                    "lg:group-hover:text-teal-300 text-teal-300 lg:text-slate-400"
                  }
                />
              </div>
              <p class="text-sm">{details.about}</p>

              <div class="flex gap-2 flex-wrap py-2">
                {details.tools.map((tool) => (
                  <Badge label={tool} />
                ))}
              </div>
            </div>
          </div>
        </a>
      ))
    }
  </div>
</section>
