---
import { Icon } from "astro-icon/components";
const navDetails = [
  {
    name: "About",
    url: "#",
  },
  {
    name: "Experience",
    url: "#",
  },
  {
    name: "Projects",
    url: "#",
  },
];

const mySocialMedia = [
  { icon: "mdi:github", link: "" },
  { icon: "mdi:linkedin", link: "" },
  { icon: "mdi:gmail", link: "" },
];
---

<section class="lg:max-h-screen lg:p-10 flex flex-col justify-between">
  <div class="space-y-2">
    <h1>Lawrencia Efua S. Cobbina</h1>
    <h2>Frontend Engineer</h2>
    <p>I build good websites...... blah blah blah</p>
  </div>

  <div class="flex gap-6 my-4">
    {
      mySocialMedia.map((social) => (
        <Icon
          name={social.icon}
          class="text-3xl hover:cursor-pointer hover:text-white"
        />
      ))
    }
  </div>
</section>
